---
language: node_js
node_js:
  - '4.3.0'

sudo: false

branches:
  only:
    - master
    - develop

git:
  depth: 10

cache:
  directories:
    - node_modules

before_script:
  - npm install -g grunt-cli

install:
  - npm config set spin false
  - npm install

matrix:
  fast_finish: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2b42e20cf5f5550c1dc0
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
