{{! Maintainers - Daryl Hedley}}
<div class="component-inner my-adapt-component-inner">
    {{> component this}}
    {{/if}}
    <div class="component-widget my-adapt-component-widget">
    </div>
</div>